.Navbar {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding-top: 1%;
}

.Navwrapper {
  width: 100%;
  box-shadow: 5px 5px 50px 5px rgba(255, 0, 0, 0.33);
}

.logo {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
}

.Navbar-nav {
  list-style-type: none;
  display: flex;
}

.Nav-item {
  margin-left: 40px;
}

.Nav-link {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
}

.Nav-link:hover {
  text-decoration: underline;
  color: black;
  font-style: bold;
}

.Navbar-brand {
  display: flex;
  justify-content: space-between;
}

.modal-btn{
    background-color: transparent;
    border: none;
}

.Navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.Navbar-toggler-icon {
  width: 20px;
  height: 2px;
  background-color: black;
  display: block;
  position: relative;
  transition: background-color 0.3s ease;
}

.Navbar-toggler-icon:before,
.Navbar-toggler-icon:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
  position: absolute;
  transition: transform 0.3s ease;
}

.Navbar-toggler-icon:before {
  top: -6px;
}

.Navbar-toggler-icon:after {
  bottom: -6px;
}

.Navbar-toggler.active .Navbar-toggler-icon {
  background-color: transparent;
}

.Navbar-toggler.active .Navbar-toggler-icon:before {
  transform: rotate(45deg);
  top: 0;
}

.Navbar-toggler.active .Navbar-toggler-icon:after {
  transform: rotate(-45deg);
  bottom: 0;
}

/* HOMEPAGE */
.wrapper {
  width: 100%;
  background-color:  rgba(255, 0, 0, 0.33);
 padding-bottom: 10%;
  
}
.homepage {
  width: 90%;
  margin: auto;
  padding-top: 8%;
 
}

.first-div {
  height: 150px;
  width: 80%;
  margin: auto;
  box-shadow: 0px 10px 25px 0px #00ff0a;
  background-color: white;
  margin-bottom: 10%;
}

.search {
  width: 90%;
  margin: auto;
}

.sort {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 2%;
  padding-top: 3%;
  gap: 2%;
}

.sort-div {
  border: 1px solid black;
  padding: 0px 15px 0px 15px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
}

.search-ptag {
  position: relative;
}

.search-btn {
  background-color: #00ff0a;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
  height: 39px;
}

.events{
    height: 150px;
    width: 80%;
    margin: auto;
    box-shadow: 0px 10px 25px 0px rgba(0,255,10,0.8);
   margin-top: 5%;
   background-color: white;
  /* box-shadow: 0px 5px 25px rgb(255,255,0,0.75); */
    
}

.events ul{
    list-style-type: none;
    
}

.events ul li{
    display: flex;
   
}

.events-img-div{
    
}

.events-img{
height: 124px;
width: 134px;
object-fit: cover;
margin-top: 10%;


}

.events-desc-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}

.TitleNType{
    display: flex;
    margin-top: 4%;
    justify-content: space-between;
    width: 100%;
}

.title{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;


}

.type{
color: #B6A8A8;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;

}
.desc{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;


}
.costNdate{
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
    width: 100%;
    
}

.cost{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    
    
}

.date{
    color: #B6A8A8;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em; 
}

/* SIGNUP */

.signup-form-div{
    
    width: 100%;
}
.signup-form-inner{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  rgba(255, 0, 0, 0.33);
    margin-top: 7%;
    border-radius: 10px;
    
}
.signup-form-input{
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;

}

.signup-form-inner form{
    width: 90%;
    margin: auto;
}
.signin-form-header{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.pswd{
    position: relative;
}

.pswd-btn{
    background-color: transparent;
    border: none;
}

.signup-icon{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4%;
    margin-right: 5%;
}

.acct{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  rgba(255, 0, 0, 0.33);
    margin-top: 4%;
    border-radius: 10px;
    height: 100px;
    margin-bottom: 5%;
    align-items: center;
    
}

.acct p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}

.signup-btn{
    background-color: white;
    border: none;
    width: 70%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}

.signup-btn:hover{
    box-shadow: 0px 5px 15px 0px rgba(0,255,10,0.8);
}
