.Navbar {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding-top: 1%;
}

.Navwrapper {
  width: 100%;
  box-shadow: 5px 5px 50px 5px rgba(255, 0, 0, 0.33);
}
.logo {
  display: flex;

  width: 100%;
}

.logo p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  position: absolute;
  margin-left: 7%;
}

.logo-img {
  height: 30px;
  width: 100%;
}

.Navbar-nav {
  list-style-type: none;
  display: flex;
}

.Nav-item {
  margin-left: 40px;
}

.Nav-link {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
}

.Nav-link:hover {
  text-decoration: underline;
  color: black;
  font-style: bold;
}

.Navbar-brand {
  display: flex;
  justify-content: space-between;
}

.Navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.Navbar-toggler-icon {
  width: 20px;
  height: 2px;
  background-color: black;
  display: block;
  position: relative;
  transition: background-color 0.3s ease;
}

.Navbar-toggler-icon:before,
.Navbar-toggler-icon:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
  position: absolute;
  transition: transform 0.3s ease;
}

.Navbar-toggler-icon:before {
  top: -6px;
}

.Navbar-toggler-icon:after {
  bottom: -6px;
}

.Navbar-toggler.active .Navbar-toggler-icon {
  background-color: transparent;
}

.Navbar-toggler.active .Navbar-toggler-icon:before {
  transform: rotate(45deg);
  top: 0;
}

.Navbar-toggler.active .Navbar-toggler-icon:after {
  transform: rotate(-45deg);
  bottom: 0;
}

/* HOMEPAGE */
.wrapper {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.33);
  padding-bottom: 10%;
}
.homepage {
  width: 90%;
  margin: auto;
  padding-top: 8%;
}

.first-div {
  height: 150px;
  width: 80%;
  margin: auto;
  /* box-shadow: 0px 10px 25px 0px white; */
  background-color: black;
  margin-bottom: 10%;
}

.search {
  width: 90%;
  margin: auto;
}

.sort {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 2%;
  padding-top: 3%;
  gap: 2%;
  color: white;
}

.sort-div {
  border: 1px solid white;
  padding: 0px 15px 0px 15px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.search-ptag {
  position: relative;
}

.search-btn {
  background-color: rgba(255, 0, 0, 0.33);
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
  height: 38px;
  color: white;
}

.events {
  height: 150px;
  width: 80%;
  margin: auto;
  box-shadow: 10px 10px 50px 2px black;
  margin-top: 9%;
  background-color: white;
  /* box-shadow: 0px 5px 25px rgb(255,255,0,0.75); */
}

.events ul {
  list-style-type: none;
}

.events ul li {
  display: flex;
}

.events-img {
  height: 124px;
  width: 134px;
  object-fit: cover;
  margin-top: 10%;
}

.events-desc-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
}

.TitleNType {
  display: flex;
  margin-top: 4%;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.type {
  color: #b6a8a8;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}
.desc {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}
.costNdate {
  display: flex;
  margin-top: 3%;
  justify-content: space-between;
  width: 100%;
}

.cost {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.date {
  color: #b6a8a8;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

/* SIGNUP */

.signup-form-div {
  width: 100%;
}

.forgotpswd {
  text-align: center;
}
.signup-form-inner {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.33);
  margin-top: 7%;
  border-radius: 10px;
  box-shadow: 10px 10px 50px 2px black;
}
.signup-form-input {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 10px;
}

.signup-form-inner form {
  width: 90%;
  margin: auto;
}
.signin-form-header {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.pswd {
  position: relative;
}

.pswd-btn {
  background-color: transparent;
  border: none;
}

.signup-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 4%;
  margin-right: 5%;
}

.acct {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.33);
  margin-top: 8%;
  border-radius: 10px;
  height: 100px;
  margin-bottom: 5%;
  align-items: center;
  box-shadow: 10px 10px 50px 2px black;
}

.acct p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.signup-btn {
  background-color: white;
  border: none;
  width: 70%;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.signup-btn:hover {
  box-shadow: 0px 5px 15px 0px rgba(0, 255, 10, 0.8);
}

/* POST EVENT PAGE */
.crp-wrapper {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 8%;
}

.cp-wrapper-inner {
  width: 50%;
  margin: auto;
  box-shadow: 0px 10px 25px 0px black;
  min-height: 100px;
  margin-top: 5%;
  background-color: pink;
}

.crp-form {
  width: 90%;
  margin: auto;
  padding-bottom: 3%;
}

.input-form-p {
  margin-bottom: 5%;
}

.input-form-p:nth-child(4) {
  margin-bottom: 2%;
}

.crp-form-input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid grey;
}

.crp-form-textarea {
  width: 100%;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid grey;
}

.crp-form-file {
  width: 100%;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 10px;
}

.create-a-post {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 4%;
}

.crp-header {
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 4%;
  padding-top: 5%;
}

.crp-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
}

.crp-btn:hover {
  background-color: #000;
  box-shadow: 20px 10px 50px 20px #fff;
}

.crp-btn-p {
  margin-top: 8%;
}
.dashboard{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.dashboard-left, .dashboard-right{
  width: 50%;
}
.dashboard-left{
  background-color: rgba(186, 126, 126, 1);
}
.dashboard-right{
  background-color: rgba(196, 207, 194, 1);
  padding: 2rem;
}
.active-event{
  height: 150px;
  width: 80%;
  /* margin: auto; */
 margin-top: 5%;
 background-color: white;
/* box-shadow: 0px 5px 25px rgb(255,255,0,0.75); */
  
}

.active-event ul{
  list-style-type: none;
  
}

.active-event ul li{
  display: flex;
 
}
.comment-text{
  width: 80%;
  margin-top: 2rem;
}
.comment {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
}

.commenter {
  font-weight: bold;
  margin-bottom: 6px;
}

.comment-text {
  color: #333;
}
.buttons{
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
.buttons button{
  margin-left: 2rem;
  padding: 0.5rem;
  width: 4rem;
  border-radius: 5px;
  border: none;
}
